<baseLayout cardcellwidth='mdl-cell--10-col'>
  <div title class="full-width">
    <div class="mdl-grid">
      <div class="mdl-card__title-text mdl-cell mdl-cell--3-col">Log Workout</div>   
    </div>
  </div>
  <div supportingtext>
    <section class="mdl-grid ">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--stretch ">
        <table class="mdl-data-table ">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric ">
                <dropdownAsync displayField="Name" [items]="workouts$" (itemSelected)="workoutSelected($event)" defaultText="Select Workout... "></dropdownAsync>
              </td>            
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-grid grid-table logWorkout-tableheight" *ngIf="currentWorkout.Set?.length > 0">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--stretch">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp scroll">
          <tbody *ngFor="let set of currentWorkout.Set">
            <tr class="mdl-color--primary ">
              <td class="mdl-data-table__cell--non-numeric "><b>{{set.Name}}</b></td>
              <td class="mdl-data-table__cell--non-numeric " style="color:white" *ngFor="let rep of set.DisplayReps"><b>{{rep.Name}}</b></td>
              <td class="mdl-data-table__cell--non-numeric" *ngFor="let blank of set.Exercise[0].AdditionalColumns">&nbsp;</td>
            </tr>
            <tr *ngFor="let exercise of set.Exercise">
              <td class="mdl-data-table__cell--non-numeric">{{exercise.Name}} ({{exercise.Reps.length}})</td>
              <td class="mdl-data-table__cell--non-numeric" *ngFor="let rep of exercise.Reps"><b *ngIf="rep.WriteRep">{{rep.Name}}<br /></b>{{exercise.Measure}}:
                <input type="text" [(ngModel)]="rep.Weight" style="width:40px">({{rep.TimeToNextExercise}})</td>
              <td class="mdl-data-table__cell--non-numeric" *ngFor="let blank of exercise.AdditionalColumns">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mdl-layout-spacer"></div>
    </section>
  </div>
  <div actions class="mdl-card__actions mdl-card--border" *ngIf="currentWorkout.Set?.length > 0">
    <button class="mdl-button mdl-js-button mdl-button--accent" (click)="onSubmit()">Save Workout</button>
  </div>
</baseLayout>
