<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local Nuget Packages" value="/src/FitnessTracker.Presentation.WebStatus/" />
    <!--/SR/WorkoutSerivce is where the nuget files are located in the image (see docker file)-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="Local Nuget Packages" value="../ng" /> -->
  </packageSources>
</configuration>