<table
  class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-metabolicInfo "
>
  <thead>
    <tr>
      <th style="width: 125px;">
        <dropdownMDL
          displayField="displayName"
          [items]="modes"
          (itemSelected)="metabolicInfoSelected($event)"
          [model]="mode"
        ></dropdownMDL>
      </th>
      <th *ngFor="let meal of macroColumns">{{ meal.meal }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Calories</td>
      <td
        *ngFor="let meal of macroColumns"
        [style.color]="meal.calories < 0 ? 'red' : ''"
      >
        {{ meal.calories }}
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">Protein</td>
      <td
        *ngFor="let meal of macroColumns"
        [style.color]="meal.protein < 0 ? 'red' : ''"
      >
        {{ meal.protein }}
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">Carbs</td>
      <td
        *ngFor="let meal of macroColumns"
        [style.color]="meal.carbs < 0 ? 'red' : ''"
      >
        {{ meal.carbs }}
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">Fat</td>
      <td
        *ngFor="let meal of macroColumns"
        [style.color]="meal.fat < 0 ? 'red' : ''"
      >
        {{ meal.fat }}
      </td>
    </tr>
  </tbody>
</table>
